.auth-container {

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  background: #f4f7fb;
}

.auth-box {

  display: flex;

  flex-direction: column;

  width: 350px;

  background: white;

  padding: 30px;

  border-radius: 8px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-box input {

  margin-bottom: 15px;

  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 5px;
}

.auth-box button {

  padding: 12px;

  background: #0066ff;

  color: white;

  border-radius: 5px;
}
