.resume-jobs-page {

  background: #0a192f;
  min-height: 100vh;
  padding: 40px;

}


.resume-jobs-title {

  color: white;
  text-align: center;
  margin-bottom: 40px;

}


.resume-jobs-container {

  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;

}


.resume-job-card {

  background: #112240;

  border-radius: 12px;

  padding: 25px;

  display: flex;

  justify-content: space-between;

  box-shadow: 0 0 15px rgba(0,0,0,0.4);

  transition: 0.3s;

}


.resume-job-card:hover {

  transform: translateY(-5px);

}


.resume-job-left h2 {

  color: #64ffda;

}


.resume-company {

  color: white;
  margin-top: 5px;

}


.resume-match {

  color: #ccd6f6;
  margin-top: 5px;

}


/* .apply-btn {

  margin-top: 15px;

  display: inline-block;

  padding: 10px 20px;

  background: #64ffda;

  color: black;

  border-radius: 6px;

  text-decoration: none;

  font-weight: bold;
  height: 40px;
  line-height: 20px;

} */
 .resume-apply-btn {
  margin-top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: #64ffda;
  color: #0a192f !important;
  font-size: 16px !important;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}



.resume-job-right {

  display: flex;

  gap: 40px;

  color: #ccd6f6;

}


.resume-job-right h4 {

  color: white;

}


.resume-job-right ul {

  margin-top: 5px;

}

/* .job-left {
  flex: 1;
} */
